.hero
{
    margin-top: 80px;
    display: flex;
    gap: 0 49px;
    align-items: center;
   
   
    &_title
    {
        font-family:$font--title;
        font-weight: 700;
        font-size: 86px;
        line-height: calc(88/86) ;
        letter-spacing: -1px;
    }
    &_text
    {
        font-family: $font--text;
        margin-top: 30px;
        color: $color--text;
        font-weight: 400;
        font-size: 20px;
        line-height:calc(34/20);
    }
    &_btn
    {
        font-family: $font--text;
        margin-top: 30px;
        display: inline-block;
    }
    &--logo
    {
      
       margin-top: 100px;
    }
    &_img
    {
        width: 100%;
    }
    
   
   

}
.test
{
    max-width: 100%;
}



@media (max-width:1040px) {
   
    .hero
    {
      flex-direction: column;

    }
  
   
}


@media (max-width:768px) {
   
    .hero
    {
      margin-top: 55.51px;;
      gap: 30px 0;
   

    }
   
}

@media (max-width:428px) {
    .hero
    {
      margin-top: 40.51px !important;

    }
  .hero_title
  {
      font-size: 46px;
  }
  .hero_text
  {
      margin-top: 24px;
      font-size: 20px;
  }
  .hero_btn
  {
      margin-top: 24px;
  }
   
}